@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#navbar {
  display: block;
  position: fixed;
  min-width: 200px;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  border-right: solid;
  border-color: orange;
}
#navbar ul {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}
ul {
  display: block;
  padding-inline-start: 20px;
}
#navbar li {
  position: relative;
  border-top: 1px solid;
  width: 100%;
}
#navbar a {
  display: block;
  padding: 20px 20px;
}

#main-doc {
  position: absolute;
  margin-left: 250px;
  padding: 20px;
}
header {
  font-weight: bolder;
  font-size: 20px;
  padding: 20px;
}
